
.fake-navbar{
    background-color: var(--jet);
    background-origin: border-box;
    border-radius: 20px;
    color: var(--white);
}

.button-fold {
    position: relative;
    border-radius: 0.5rem;
    background-color: var(--indigodye);
    padding: 0.8em 1.5em;
    color: white;
    box-shadow: 0.5em 0.5em 0.5em #0000004f;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
}

.button-fold::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    box-shadow: 0.2em 0.2em 0.2em #0000004f;

    border-radius: 0 0 0.5em 0;
    transition-duration: 200ms;
    background: linear-gradient(
            135deg,
            rgb(255, 255, 255) 0%,
            rgb(217, 217, 217) 50%,
            rgb(60, 110, 113) 50%,
            rgb(60, 110, 113) 60%
    );
}

.button-fold:hover:before {
    height: 1.5em;
    width: 1.5em;
}

.button-fold:active {
    scale: 0.9;
}


@media (max-width: 600px){
    .button-fold {
        padding: 0.4em 1em;
        font-size: 14px;
    }
}